/* ELEMENTS */
bold {
  font-weight: bolder;
}

.arrow-down {
  font-size: 55px;
  
    
  transform: scale(1.5, 0.7);
  text-align: center;
  margin: 0;
}

/* SCROLL BAR
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 3px solid orange;
} */

/* LIST PROJECTS */
.list__projects {
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.list__projects-content {
}

/* RANDOM */
.black {
  background-color: black;
}
.social-black {
  background-color: black;
}
.padding {
  padding-top: 15px;
}

/* ETC */
.list__social {
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.list__social-content {
  width: 35px;
  height: 35px;
  margin: 0 25px;
}

.list__social-img {
  width: 35px;
  height: 35px;
  
}

/* GENERAL CLASSES */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-container {
  /* background-color: black; */
  /* color: white; */
  padding: 10px;
}

.presentation {
  width: 75%;
  background-color: #374045;
  padding: 20px 12.53%;
}
.presentation .subtitle,
.presentation .subtitle {
  color: #e1d89f;
  
}
.presentation .title {
  /* color: #e45826; */
  color: #d89216;
}

.presentation-projects {
  width: 75%;
  padding: 20px 12.53%;
}

/* ETC */

/* TEXT CLASSES */
.title {
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 0;
  letter-spacing: 0.03em;
  margin-top: 0;
  color: #d89216;
}

.subtitle {
  font-family: "Ubuntu Mono", monospace;
  font-style: italic;
  margin-left: 10px;
  margin-top: 0;
  color: #e1d89f;
}

.btn-text {
  font-family: "Ubuntu Mono", monospace;
  font-size: 1em;
  font-weight: bold;
  color: #f0a500;
  position: absolute;
  bottom: 20px;
  z-index: 2;
  display: inline-block;
  text-decoration: none;
}

/* ELEMENTS CLASSES */

.img-presentation {
  width: 100%;
  height: 50%;
}

.hyperlink {
  color: #d89216;
}

.hyperlink:hover {
  color: #2c061f;
}

.btn-dark {
  border-radius: 3px;
  border: 2px white solid;
  background-color: black;
  font-family: "Ubuntu", sans-serif;
  color: white;
}

.btn {
  width: 10%;
  border-radius: 100%;
  border: 1px black solid;
  background-color: aliceblue;
}
