/* ELEMENTS */
bold {
  font-weight: bolder;
}

.arrow-down {
  font-size: 55px;
  transform: scale(1.5, 0.7);
  text-align: center;
  margin: 0;
}

/* LIST PROJECTS */
.list__projects {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* RANDOM */
.margin {
  margin-top: 15px;
}
.margin-0 {
  margin: 0;
}
.no-italic {
  font-style: normal !important;
}
.disabled {
  opacity: 0.5;
}
.align-left {
  justify-content: left !important;
}

/* ETC */
.list__social {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.list__social-content {
  width: 35px;
  height: 35px;
  margin: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list__social-img {
  width: 35px;
  height: 35px;
}

.content-bg {
  background-color: #374045;
  color: #e1d89f;
}

/* GENERAL CLASSES */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-container {
  padding: 10px;
}

.presentation {
  width: 75%;
  background-color: #374045;
  padding: 20px 12.53%;
}
.presentation .subtitle,
.presentation .subtitle {
  color: #e1d89f;
}
.presentation .title {
  color: #d89216;
}

.presentation-projects {
  width: 75%;
  padding: 20px 12.53%;
}

/* TEXT CLASSES */
.title {
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 0;
  letter-spacing: 0.03em;
  margin-top: 0;
  color: #d89216;
}

.subtitle {
  font-family: "Ubuntu Mono", monospace;
  font-style: italic;
  margin-left: 10px;
  margin-top: 0;
  color: #e1d89f;
}

.btn-text {
  font-family: "Ubuntu Mono", monospace;
  font-size: 1em;
  font-weight: bold;
  color: #f0a500;
  position: absolute;
  cursor: pointer;
  bottom: 20px;
  z-index: 2;
  display: inline-block;
  text-decoration: none;
}

/* ELEMENTS CLASSES */

.img-presentation {
  width: 100%;
  height: 50%;
}

.hyperlink {
  color: #d89216;
}

.hyperlink:hover {
  color: #2c061f;
}

/* SKILLS */
.skills__container {
  width: 100%;
  background-color: #2c061f;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: white;
  font-family: "Ubuntu", sans-serif;
}

.list__skills {
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.list__skills-content {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.box-sizing {
  box-sizing: border-box;
}

.javascript {
  width: 100%;
  background-color: #d89216;
}

.typescript {
  width: 50%;
  background-color: #d89216;
}
.react {
  width: 70%;
  background-color: #d89216;
}
.nodejs {
  width: 80%;
  background-color: #d89216;
}